@{
    ViewData["Title"] = "Login Failure";
}

<div class="h1">
    <div class="row">
        <div class="col">@ViewBag.Title</div>
        <div class="col col-auto text-right">

        </div>
    </div>
</div>

<div class="container">
    <p class="text-danger">Unsuccessful login with service.</p>
</div>
